body {
  background-color: #F8F9FA; }
  body header {
    height: 60px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #E8EAED;
    padding: 0px;
    margin: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
    body header nav {
      display: inline-block; }
      body header nav a {
        color: #fff;
        font-family: 'Merriweather', serif;
        text-decoration: none; }
  body .page {
    padding: 0vw 4vw;
    margin-top: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    body .page h3.sectionheading {
      font-family: 'Open Sans';
      color: #1F79C7;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: bold;
      margin: 20px 0px; }
    body .page .sidebar {
      width: 25%;
      padding: 2vw;
      background-color: #fff;
      margin: 0px 20px; }
      body .page .sidebar .contact {
        height: 150px; }
        body .page .sidebar .contact .phone, body .page .sidebar .contact .email, body .page .sidebar .contact .github {
          font-family: 'Open Sans', sans-serif;
          font-weight: bold;
          font-size: 16px;
          margin-bottom: 5px;
          position: relative;
          top: 55px; }
          body .page .sidebar .contact .phone a, body .page .sidebar .contact .email a, body .page .sidebar .contact .github a {
            margin-left: 15px;
            text-decoration: none;
            color: #000; }
            body .page .sidebar .contact .phone a:hover, body .page .sidebar .contact .email a:hover, body .page .sidebar .contact .github a:hover {
              text-decoration: underline; }
      body .page .sidebar .icon {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        margin-bottom: 5px; }
        body .page .sidebar .icon span {
          font-family: 'Merriweather', serif;
          font-size: 14px;
          margin-left: 15px; }
        body .page .sidebar .icon img {
          height: 50px; }
    body .page .maincontent {
      width: 75%;
      background-color: #fff;
      padding: 2vw;
      margin: 0px 20px; }
      body .page .maincontent .profile {
        height: 150px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center; }
        body .page .maincontent .profile div {
          margin-left: 15px; }
          body .page .maincontent .profile div h1 {
            font-family: 'Merriweather', serif;
            font-weight: bold;
            font-size: 32px;
            margin: 5px 0px; }
          body .page .maincontent .profile div h2 {
            font-family: 'Roboto';
            font-size: 16px;
            margin: 5px 0px; }
        body .page .maincontent .profile img.profilepic {
          border-radius: 100px;
          height: 150px;
          float: left; }
      body .page .maincontent .job h4 {
        font-family: 'Merriweather', serif;
        font-size: 15px; }
        body .page .maincontent .job h4 .company {
          font-weight: bold; }
        body .page .maincontent .job h4 .position {
          font-style: italic; }
