//IMPORT MIXINS
@import "flexbox";

body{
    margin:0px;
    @include flexbox;
    .sidebar{
        width:25%;
        //background: url(../images/background-2426328_1920.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        color:#fff;
        position:fixed;
        right:0px;
        height:100vh;
        text-align:center;
        padding-top:10px;
        text-shadow:2px 2px black;
        background-color:#252525;
        img.profilepic{
            border-radius:100px;
            height:190px;
        }
        h1{
            font-family: 'Merriweather', serif;
            font-weight:bold;
            font-size:30px;
            margin-bottom:5px;
        }
        h2{
            margin-top:0px;
            font-family: 'Roboto', serif;
        }
      
        .phone,.email{
            font-family: 'Open Sans', sans-serif;
            font-weight:bold;
            font-size:18px;
            // width: 75%;
            margin: 0 auto;
            margin-bottom: 10px;
            a{
                margin-left:15px;
                color:#fff;
                text-decoration:none;
                &:hover{
                    text-decoration:underline;
                }
            }
        }
        .icons{
            width:65%;
            margin:0 auto;
            .fa-html5,.fa-css3-alt,.fa-js,.fa-php,.fa-wordpress,.fa-sass,.fa-git,.fa-gulp{
                font-size:50px;
                width: 50%;
                float: left;
                margin:15px 0px;
            }
        }
    }
    .maincontent{
        width:75%;
        .thaiorchid{
            background: url(../images/ThaiOrchid.jpg);
            background-size:cover;
            height:500px;
            &:hover{
                .overlay{
                    background: rgba(31, 31, 31, 0.70);
                    opacity: 1;
                    height:100%;
                }
            }
        }
        header{
            height: 60px;
            background-color: #252525;
            // background: url(../images/background-2426328_1920.jpg);
            background-size: cover;
            background-position: bottom;
            padding:0px 15px;
            @include flexbox;
            @include align-items(center);
            .logo{
                border-radius:100px;
                height:60px;
            }
            nav{
                display:inline-block;
                a{
                    color:#fff;
                    font-family: 'Merriweather', serif;
                    text-decoration: none;
                }
            }
        }
    }

}